@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<WebAplicationProduct.Models.Produto>

@{
    ViewData["Title"] = "Listagem de produtos";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="card card-header m-1 p-1">
        <div class="bg-transparent p-1">
            <h4>@item.Nome
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@item.Preco</small>
                </span>
                <span class="rounded-circle">
                    <small>
                        <a asp-action="Edit" class="btn btn-dark" asp-route-id=@item.ProdutoID>Editar</a> |
                        <a asp-action="Details" class="btn btn-dark" asp-route-id=@item.ProdutoID>Detalhes</a> |
                        <a asp-action="Delete" class="btn btn-dark" asp-route-id=@item.ProdutoID>Excluir</a> |
                    </small>
                </span>
            </h4>
        </div>
        <div class="card-text p-1">@item.Fabricante.Nome</div>
    </div>
    <div class="pagination">
        @Html.PagedListPager(Model, pagina => Url.Action("Index", new {pagina}))
    </div>
}
