<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAplicationProduct</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAplicationProduct.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar navbar-brand" role="navigation">
        <a class="navbar-brand" href="#">WebAplicationProduct</a>
    </div>
    <div class="row m-1 p-1">
        <div id="produtos" class="col-3">
            Insira alguma conteudo util aqui
        </div>
        <div class="col-9">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>